<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>AUTO LYRICS</title>

    <style>
        
        body{
            font-family: 'Roboto', sans-serif;
            color:white;
        }

        #lgn_btn:hover{
            background-color:#1ed760;
            color:white;
        }

        #lgn_btn{
            transition: 100ms;
        }

    </style>


</head>
<body style="background-color: #181818">
    <div class="text-center flex flex-col place-content-center" style="height:90vh">
        <p class="text-center text-4xl mb-10" style="color:#1ed760">Faça login em seu spotify para continuar:</p>
        <a href="{{ url }}"><button id="lgn_btn" class="border border-2 px-8 py-2 rounded-full" style="border-color: #1ed760;">LOGIN NO SPOTIFY</button></a>
    </div>

    <footer class="text-center">
        <a href="https://github.com/Ieafyy"><p> Made by • Raphael </p></a>
        <p> 2022 </p>
    </footer>
</body>
</html>