<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{ musica }}</title>
    
    <style>
        
        body{
            font-family: 'Roboto', sans-serif;
            color:white;
        }

    </style>

</head>
<body style="background-color:#181818">

<div class="flex justify-between mx-10 pt-10" style="z-index: 9999; position: sticky; background-color:#181818; top: 0px;">
    <div>
        <p class="text-6xl mb-4" style="color:#1ed760">Agora tocando:</p>
        <div class="flex">
            <p id = 'musica' class="text-5xl"></p>
            <p id = 'cantor' class="text-2xl ml-3 mt-4" style="color:#8c8c8c"></p>
        </div>
        <div class="flex gap-5 mt-10">
            <p id = 'atual'></p>
            <progress value="0" max="0" id="bar" style="width:400px"></progress>
            <p id = 'total'></p>
        </div>
    </div>

    <div class="">
        <img src="" alt="" id="imagem" style="height:210px">
    </div>
</div>

<div class="flex gap-10 mt-10 ml-10">
    
    <div>
        <p id="letra" class="text-2xl pb-10"></p>
    </div>
    
</div>


<footer class="text-center">
     <a href="https://github.com/Ieafyy"><p> Made by • Raphael </p></a>
     <p> 2022 </p>

</footer>



    <script>

        $(document).ready(() => setInterval(ajaxloop, 1000))

        function tomin(e){
            var m = Math.floor(e % 3600 / 60).toString().padStart(2,'0'),
            s = Math.floor(e % 60).toString().padStart(2,'0');
    
        return m + ':' + s;
   
}


        function ajaxloop(){

            $.ajax({
                url : '/musica',
                dataType: 'json',
                success : (data) => {
                    $('#musica').html(data['musica'])
                    $('#cantor').html(data['artist'])
                    $('#atual').html(tomin(data['atual']/1000))
                    $('#total').html(tomin(data['total']/1000))
                    $('#imagem').attr('src', data['image'])
                    $('#bar').attr('max', data['total'])
                    $('#bar').attr('value', data['atual'])
                    $(document).prop('title', data['musica'])
                    $('#letra').html(data['lyrics'])
                } 
            })
        }


    </script>


</body>
</html>